/.env
/expapp.py
/expenses.csv
/expenses1.csv
/users.csv
/SUPABASE_URL=https://cczxylykqcrmlamzwemh.supabase.co
/SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjenh5bHlrcWNybWxhbXp3ZW1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzcwNDc4OCwiZXhwIjoyMDc5MjgwNzg4fQ.T-UTlG8h-c0KrGGx9rIrxEgeAM9EeP0GFyIsF6j3p8k
