<!DOCTYPE html>
<!-- Add Expense Form -->
<html>
  <head>
  <h3>Add Expense</h3>
</head>
<body>
  <div class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
        Add Expense
    </div>
     <li class="nav-item">
          <a class="nav-link" href="/add">Add Expense</a>
      </li>
    <div class="card-body">
        <form method="POST" class="row g-3">
        <div class="col-md-3 col-12">
             <div class="col-md-3 col-12">
                <label class="form-label">Category</label>
                <select class="form-select" name="category" id="category" placeholder="--SELECT--" required>
                    <option value="SELECT">--SELECT--</option>
                    <option value="Food">Food</option>
                    <option value="Transport">Transport</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Bills">Bills</option>
                    <option value="Other">Other</option>
                </select>

                 <!--<label class ="form-label mt-3">Subcategory</label>
                 <select class="form-select" name="subcategory" id ="subcategory "required>
                     <option value="">--Select Category First--</option>
                 </select>-->
            </div>
            
            <label class="form-label">Amount</label>
                <input type="number" step="0.01" class="form-control" name="amount" placeholder="ex: ₹100" required>
                <!--<label for="currency">Currency</label>
                    <select name="currency" id="currency" class="form-select">
                        <option value="INR">₹ (INR)</option>
                        <option value="USD">$ (USD)</option>
                        <option value="EUR">€ (EUR)</option>
                        <option value="GBP">£ (GBP)</option>
                    </select>-->
            </div>
           
            <div class="col-md-4 col-12">
            <label class="form-label">Note</label>
                <input type="text" class="form-control" name="note" placeholder="Write a note about your expense">
            </div>
            <div class="col-md-2 col-12 d-flex align-items-end">
                <button type="submit" class="btn btn-success w-100">Add</button>
            </div>
            <div class="table responsive">
                <table class="table table stripped">  
            </div>
         </form> 
    </div>
</div>
</body>
</html>
