<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">


    <style>
        #categoryChart {
            max-width: 250px;   /* adjust size */
            margin: 0 auto;     /* center the chart */
        }
    </style>

</head>

<body class="bg-light">

<!-- NAVBAR ->
<nav class="navbar navbar-dark bg-primary navbar-expand-lg px-3 mb-4">
    <a class="navbar-brand fw-bold" href="/">Expense Tracker</a>
</nav-->
<h2 class="text-center mb-4" style="color:#3A1F0B">DashBoard</h2>
<div class="container">
    <!-- SUMMARY CARDS -->
    <div class="row g-3 mb-4">

        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h6>Total Spent</h6>
                <h3 class="fw-bold text-primary">₹{{ total_expense }}</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h6>This Month</h6>
                <h3 class="fw-bold text-success">₹{{ monthly_total }}</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm p-3">
                <h6>Highest Category</h6>
                <h3 class="fw-bold text-danger">{{ top_category }}</h3>
            </div>
        </div>

    </div>

    <!-- CHARTS -->
    <div class="row g-4">

        <div class="col-md-6">
            <div class="card shadow-sm p-3">
                <h6 class="text-center">Expenses by Category</h6>
                <canvas id="categoryChart" style="height:200px; width:200px;"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm p-3">
                <h6 class="text-center">Last 7 Days Spending</h6>
                <canvas id="weekChart"></canvas>
            </div>
        </div>

   


    <!-- RECENT EXPENSES -->
    <div class="card mt-4 shadow-sm">
    <div class="card-header bg-secondary text-white">Category Totals</div>

        <ul class="list-group list-group-flush">
            {% for category, total in category_map.items() %}
            <li class="list-group-item d-flex justify-content-between">
                <span>{{ category }}</span>
                <span class="fw-bold">₹{{ total }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- BACK BUTTON -->
    <div class="mt-3">
        <a href="/" class="btn btn-primary">
            ⬅ Back to Main Page
        </a>
    </div>
</div>

<!-- CHART JS SCRIPT -->
<script>
      // CATEGORY PIE CHART
    const categoryChart = new Chart(document.getElementById('categoryChart'), {
        type: 'pie',
        data: {
            labels: {{ category_labels | safe }},
            datasets: [{
                data: {{ category_values | safe }},
                borderWidth: 1
            }]
        }
    });
    // WEEKLY BAR CHART
    const weekChart = new Chart(document.getElementById('weekChart'), {
        type: 'bar',
        data: {
            labels: {{ week_labels | safe }},
            datasets: [{
                data: {{ week_values | safe }},
                borderWidth: 1
            }]
        }
    });
</script>
<script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js");
  }
</script>

</body>
</html>
