<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title> AutoKhata-Expense Tracker</title>
    <link rel="icon" href="/static/icons/exptracker_app_icon1.png">
    <link rel="icon" href="/static/icons/exptracker_app_icon2.png">
    <meta name="theme-color" content="#0dfdc4">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}"-->    
    <link rel="manifest" href="/static/manifest.json">
    <style>
         .navbar .dropdown-toggle {
            padding: 6px 10px; }
              .profile-fixed {
                position: absolute;
                right: 30px;
                top: 20px;
                }
         @media (min-width: 992px) {
            .profile-fixed {
                position: static !important;
               }
        }
    </style>
    <style>
        /* ================= MOBILE-FRIENDLY TABLE ================= */
        
        /* Make table horizontally scrollable on small screens */
        .table-responsive {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
        }
        
        /* Sticky header */
        #expenseTable thead th {
            position: sticky;
            top: 0;
            background-color: #f8f9fa; /* match table header bg */
            z-index: 3;
        }
        
        /* Reduce padding for mobile */
        @media (max-width: 576px) {
            table#expenseTable th,
            table#expenseTable td {
                white-space: nowrap; /* prevent text from wrapping */
                font-size: 0.75rem;
                padding: 0.25rem 0.4rem;
            }
        
            /* Make card body take full width */
            .card-body {
                padding: 0.5rem;
            }
        
            /* Filter bar stacked above table */
            .filter-bar {
                flex-direction: column;
                gap: 6px;
            }
        }
        
        /* Optional: add a subtle shadow for sticky headers */
        #expenseTable thead th {
            box-shadow: inset 0 -1px 0 #dee2e6;
        }
    </style>

</head>

<body class="bg-light">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg);">
    <div class="container">

        <!-- LOGO -->
        <a class="navbar-brand text-white fw-bold d-flex align-items-center" href="/">
            <img src="/static/icons/logo 2.png" width="35" class="me-2">
            AutoKhata-Expense Tracker
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-white" href="/dashboard">
                        <i class="bi bi-clipboard-data"></i>Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/add_expense">
                        <i class="bi bi-receipt"></i>Add Expense</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/download">
                        <i class="bi bi-download"></i> Download
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/report">
                        <i class="bi bi-question-diamond"></i>Reports</a>
                </li>
                <!--button id="themeToggle" class="btn btn-light btn-sm ms-2">
                    🌙 Night Mode
                </button-->
                <!-- MOBILE PROFILE -->
                <li class="nav-item dropdown d-block d-lg-none">
                    <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i> Profile {{ user_id}}
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>

            <!-- INSTALL BUTTON -->
            <button id="installBtn" class="btn btn-light btn-sm me-2 d-none">Install App</button>

            <!-- DESKTOP PROFILE -->
            <li class="nav-item dropdown ms-3 d-none d-lg-block">
                <a class="nav-link dropdown-toggle bg-white px-2 py-1 rounded" href="#" id="profileDropdown"
                   data-bs-toggle="dropdown">
                    <img src="/static/icons/user.jpg" width="22">
                </a>

                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/settings">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                </ul>
            </li>
        </div>
    </div>
</nav>

<div class="container-fluid px-3">

    <!-- SEARCH -->
    <div class="my-2">
        <input type="text" id="searchExpense" class="form-control"
               placeholder="Search by Amount, Category, Subcategory, etc..." class="bi bi-search ">
    </div>

    <!-- EXPENSE TABLE CARD -->
    <div class="card shadow-sm mb-5">
        <div class="card-header bg-secondary text-white">Your Expenses</div>

        <div class="px-3 pt-2 pb-1 fw-semibold" style="color: var(--text-light);">
            Total: ₹ {{ total }}
        </div>
        <div class="card-body table-responsive">

            <!-- FILTER BAR -->
            <form method="GET" action="/" class="filter-bar">
                <!-- From -->
                <div class="filter-item">
                    <label class="form-label mb-1">From</label>
                    <input type="date"
                           name="from_date"
                           value="{{ request.args.get('from_date','') }}">
                </div>
                <!-- To -->
                <div class="filter-item">
                    <label class="form-label mb-1">To</label>
                    <input type="date"
                           name="to_date"
                           value="{{ request.args.get('to_date','') }}">
                </div>
            
                <!-- Category -->
                <div class="filter-item">
                    <label >Category</label>
                    <select name="category">
                        <option value="">All</option>
                        {% for cat in ["Food","Transport","Shopping","Bills","Other"] %}
                        <option value="{{ cat }}"
                            {{ 'selected' if request.args.get('category') == cat else '' }}>
                            {{ cat }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            
                <!-- Filter Button ->
                <div class="filter-actions">
                    <button type="submit" class="btn-apply">
                        <i class="bi bi-funnel"></i> Apply
                    </button>
                </div>
            
                <!-- Clear Category ->
                {% if request.args.get('category') %}
                    <a href="{{ url_for('exptracker3',
                        from_date=request.args.get('from_date'),
                        to_date=request.args.get('to_date'),
                        page=current_page
                    ) }}"
                    class="btn-clear">
                        Clear Category
                    </a>
                {% endif %}
            
                <!-- Clear All ->
                {% if request.args %}
                    <a href="/" class="btn btn-outline-secondary btn-sm mt-3">
                        Reset
                    </a>
                {% endif %}
            </div-->
                <!-- Filter Buttons -->
            <div class="filter-actions">
                <button type="submit" class="btn-apply">
                    <i class="bi bi-funnel"></i> Apply
                </button>
                
                {% if request.args.get('category') %}
                    <a href="{{ url_for('exptracker3',
                        from_date=request.args.get('from_date'),
                        to_date=request.args.get('to_date'),
                        page=current_page
                    ) }}" class="btn-clear">
                        Clear Category
                    </a>
                {% endif %}
            
                {% if request.args %}
                    <a href="/" class="btn btn-outline-secondary btn-sm">
                        Reset
                    </a>
                {% endif %}
            </div>
        </form>

             <!--DELETE CONFIRMATION MODAL-->
            <div class="modal fade" id="deleteConfirmModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Delete</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">Are you sure you want to delete this expense?</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a id="deleteLink" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- EXPENSE TABLE -->
            <table class="table table-striped table-hover" id="expenseTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Amount</th>
                        <th>Note</th>
                        <th>Attachment</th>
                        <th>Delete</th>
                        <th>Modify</th>
                    </tr>
                </thead>

                <tbody>
                    {% set icons = {
                        "Food": "bi bi-egg-fried",
                        "Transport": "bi bi-bus-front-fill",
                        "Shopping": "bi bi-bag-fill",
                        "Bills": "bi bi-receipt-cutoff",
                        "Other": "bi bi-three-dots"
                    } %}

                    {% for item in expense %}
                    <tr>
                        <td>{{ item.next_date }}</td>
                        <td><i class="{{ icons[item.category] }}"></i> {{ item.category }}</td>
                        <td>{{ item.subcategory }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.note }}</td>

                        <td>
                            {% if item.attachment_url %}
                            <button class="btn btn-outline-primary btn-sm"
                                    onclick="openAttachment('{{ item.attachment_url }}')">
                                <i class="bi bi-paperclip"></i>
                            </button>
                            {% else %}-{% endif %}
                        </td>
                        <td>    
                            <a href="/delete/{{ item.id }}" class="btn btn-danger btn-sm px-3" onclick="confirmDelete(event, '/delete/{{ item.id }}')">
                                Delete
                            </a>
                        </td>

                        <td>
                            <a href="/modify/{{ item.id }}" class="btn btn-secondary btn-sm px-3">Modify</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Universal Attachment Preview Modal -->
            <div class="modal fade" id="attachmentModal" tabindex="-1">
              <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Attachment Preview</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
            
                  <div class="modal-body text-center">
                    <!-- Image Preview -->
                    <img id="previewImage" class="img-fluid d-none" />
            
                    <!-- PDF / Docs Preview -->
                    <iframe id="previewFrame" class="w-100 d-none" height="600"></iframe>
            
                    <!-- Fallback -->
                    <div id="previewFallback" class="d-none">
                      <p>Preview not available for this file type.</p>
                      <a id="downloadLink" class="btn btn-primary" target="_blank">Download File</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- PAGINATION -->
             <!--{% if current_page > 1 %}
                
                <a href="{{ url_for('exptracker3', page=current_page-1) }}"
                   class="btn btn-secondary">
                    ⬅ Previous 10
                </a>
                {% endif %}-->
           <div class="d-flex justify-content-between mt-3">
                {% if current_page > 1 %}
                <a href="{{ url_for('exptracker3',
                    page=current_page-1,
                    category=request.args.get('category'),
                    from_date=request.args.get('from_date'),
                    to_date=request.args.get('to_date')
                ) }}" class="btn btn-secondary">
                    ⬅ Previous 10
                </a>
                {% endif %}
            
                {% if current_page < total_pages %}
                <a href="{{ url_for('exptracker3',
                    page=current_page+1,
                    category=request.args.get('category'),
                    from_date=request.args.get('from_date'),
                    to_date=request.args.get('to_date')
                ) }}" class="btn btn-secondary ms-auto">
                    Next 10 ➡
                </a>
                {% endif %}
            
            </div>
        </div>
    </div>
</div>

<!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function confirmDelete(event, url) {
        event.preventDefault();
        document.getElementById('deleteLink').href = url;
        var modal = new bootstrap.Modal(document.getElementById('deleteConfirmModal'));
        modal.show();
    }

    function sortTable(column) {
        let table = document.getElementById("expenseTable");
        let rows = Array.from(table.rows).slice(1);
        let isNumeric = column === 3;

        rows.sort((a, b) => {
            let aText = a.cells[column].innerText.trim();
            let bText = b.cells[column].innerText.trim();
            return isNumeric ? parseFloat(aText) - parseFloat(bText) : aText.localeCompare(bText);
        });

        rows.forEach(row => table.appendChild(row));
    }

    document.getElementById('searchExpense').addEventListener('input', function () {
        const query = this.value.toLowerCase();
        const rows = document.querySelectorAll('#expenseTable tbody tr');

        rows.forEach(row => {
            const rowText = Array.from(row.cells).map(cell => cell.innerText.toLowerCase()).join(' ');
            row.style.display = rowText.includes(query) ? '' : 'none';
        });
    });
</script>

<!-- SERVICE WORKER -->
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/static/service-worker.js')
        .then(reg => console.log('ServiceWorker Registered:', reg.scope))
        .catch(err => console.error('SW Error:', err));
    }
</script>

<!-- INSTALL PROMPT -->
<script>
    let deferredPrompt;

    window.addEventListener("beforeinstallprompt", e => {
        e.preventDefault();
        deferredPrompt = e;
        document.getElementById("installBtn").classList.remove("d-none");
    });

    document.getElementById("installBtn").addEventListener("click", () => {
        deferredPrompt.prompt();
        deferredPrompt = null;
    });
</script>
  <!-- Preview JS -->
<script>
    function openAttachment(url) {
      const img = document.getElementById("previewImage");
      const frame = document.getElementById("previewFrame");
      const fallback = document.getElementById("previewFallback");
      const download = document.getElementById("downloadLink");

      [img, frame, fallback].forEach(el => el.classList.add("d-none"));
      img.src = "";
      frame.src = "";

      const ext = url.split('.').pop().toLowerCase();

      if (["png","jpg","jpeg","gif","webp"].includes(ext)) {
        img.src = url;
        img.classList.remove("d-none");
      } else if (["pdf","txt","html"].includes(ext)) {
        frame.src = url;
        frame.classList.remove("d-none");
      } else {
        download.href = url;
        fallback.classList.remove("d-none");
      }

      new bootstrap.Modal(
        document.getElementById("attachmentModal")
      ).show();
    }
</script>

</body>
</html>


