<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta name ="viewport" content = "width=device-width, initial-scaled=1"> 
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">


</head>
</head>
<body class="bg-light">

<div class="container my-5">

    <h2 class="mb-4">Settings</h2>

    <div class="card p-4 shadow-lg">

        <h5>Account Settings</h5>
        <!--p>Name:<strong>{{session.name}}</strong></p-->
        <p>PhoneNumber:<strong>{{session.phone_number}}</strong></p>
        <!--p>Email: <strong>{{ session.email }}</strong></p-->

        <!--a href="/logout" class="btn btn-danger mt-3">Logout</a-->
        <a href="/" class="btn btn-secondary mt-3">Back</a>

    </div>

</div>
<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js");
  }
</script>

</body>
</html>
